html,body{
  width:100%;height:100%;
  margin:0;
  padding:0;
  background: black;
}

.grid-container{
  display: none;
  position:absolute;
  top:0;
  right: 0;
  flex-direction: column;
}

.data-container{
  color:white
}

.data-input{
  width:50px;
}
.data-span{

}
